

.grid-container{
    height: 500px;
    width: 1200px;
    margin:0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.about-img{
    border-radius: 10px;
    box-shadow: -10px -8px 0px #7dace4;

}
.header{
    font-size: 48px;
}