.intro{
    font-size: medium;
    color: red;
}

/* .emoji{

} */

.summary{
    font-size: 24px;
    font-weight: 900;
    text-wrap: wrap;
    width: 300px;
}
.highlight{
    font-size: 36px;
    color: #a5bdfd;
}