.img{
    
    /* clip-path: polygon(30% 0%,
    10% 100%,
    80% 100%,
    90% 0%); */
    height: 500px;
    width: 500px;
    text-align: center;
    border-radius: 5%;
    box-shadow: 2px 4px 4px 4px black;
}

.container{
    height: 700px;
    margin: auto 0;
}