.progressbar{
    border-radius: 4%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 40;
    height: 8px;
}

.progressbar::-moz-progress-bar {
  border-radius: 4%;
  }

.progressbar::-webkit-progress-value {
    background: linear-gradient(white, #feffdf);
    border-radius: 5px;

  }