.projectsContainer{
    overflow-x: scroll; /* Enable vertical scrolling */
    padding: 1rem;
    translate: 1500px;
}
.projectsContainer::-webkit-scrollbar {
    width: 8px; /* Set the scrollbar width */
    height: 10px; /* Set the scrollbar height */
    border-radius: 5px;
    background-color: #ddd; /* Define the track color */
  }
  
  .projectsContainer::-webkit-scrollbar-thumb {
    background-color: black; /* Define the thumb color */
    border-radius: 5px; /* Add rounded corners to the thumb */
  }