.gallery{
    height: 400px;
    width: 500px;
    margin: 0 auto;
}

.swiper-container{
    display: flex;
    flex-direction: column;
    gap: 3rem;
    margin: 0 auto;
}

.slides{
    height: 400px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    margin: auto;
}

.swiper-controller{

    position: relative;
    bottom: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5rem;
    margin: 0 auto;
}

.btn-container{
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.swiper-btn-next{
color: green;
border: none;
background: none
}

.swiper-btn-prev {
background: none;
}

.icon{
    display: flex;
    justify-content: center;
    padding: 0.5rem;
}

.swiper-pagination-custom{
    display: flex;
    justify-content: center;
width: 15px;
    margin: 0 auto;

}


.active-icon{
   
}

.prev-icon{
    opacity: 0.5;
}

.next-icon{
    opacity: 0.85;
}